In [1]:
import pandas as pd

In [9]:
news_data = pd.read_excel('https://datadryad.org/bitstream/handle/10255/dryad.199708/NEWS_datafile.xls?sequence=1')
news_data.to_csv('../data/news/news_data.csv', index=False)

In [3]:
news_data

,hospital,country,resp_rate,confusion,gender,death30d,SpO2,BPS,BPD,HR,temp,MR-proADM,PCT,discharge location,LOS,age,ICU
0,Clearwater Hospital,USA,22,0,m,0,93,158,88.0,82,36.400002,1.677191,0.117062,Home,2.0,68,0
1,Clearwater Hospital,USA,20,0,m,0,98,164,102.0,72,37.000000,0.636032,0.077208,Home,2.0,61,0
2,Clearwater Hospital,USA,18,1,f,1,100,166,88.0,91,36.700001,1.021181,0.119181,Institution,10.0,78,0
3,Clearwater Hospital,USA,17,0,m,0,98,148,71.0,59,35.599998,2.236069,0.128453,Home,2.0,58,0
4,Clearwater Hospital,USA,16,0,m,0,100,194,79.0,63,35.700001,0.859614,0.072874,Home,4.0,78,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,Aarau,Switzerland,24,0,f,0,96,145,72.0,70,37.099998,0.804300,0.069014,Home,1.0,63,0
1299,Aarau,Switzerland,34,0,m,0,76,193,123.0,137,36.000000,0.639700,0.036537,Home,7.0,62,0
1300,Aarau,Switzerland,32,0,f,0,72,126,59.0,82,37.700001,3.968000,0.103435,Home,15.0,81,0
1301,Aarau,Switzerland,18,0,m,0,98,162,123.0,82,36.599998,0.531000,0.070668,Home,0.0,62,0
1302,Aarau,Switzerland,40,0,f,0,97,144,86.0,76,37.299999,0.662500,0.036151,Institution,10.0,82,0

In [4]:
news_data['country'].value_counts()

USA            940
France         355
Switzerland      8
Name: country, dtype: int64

In [6]:
df_base = news_data[news_data['country'] == 'USA']
df_transfer = news_data[news_data['country'] == 'France']

In [10]:
df_base.to_csv('../data/news/base_dataset.csv', index=False)
df_transfer.to_csv('../data/news/transfer_dataset.csv', index=False)